{% extends "base_afvink4.html" %}

{% block title %} Converter {% endblock %}

{% block content %}
<h1> Converter </h1>
<form method="get">
    <p>
        Give your sequence:
    </p>
    <div>
        <input type="text" name="seq">
        <input type="submit" value="Submit">
    </div>
</form>
{% if type is defined %}
    <p>
        {{ type[1] }}
    </p>
    {% if type[0] == "dna" %}
        <p>
            The RNA is:
            {{ info[0] }}
    
        </p>
        <p>
            The protein is:
            {{ info[1] }}
        </p>
    {% elif type[0] == "protein" %}
        <p>
            {{ info }}
        </p>
    {% endif %}
{% endif %}
{% endblock %}